# one-hot encoding

In [19]:
import pandas as pd

In [29]:
# Load the dataset
df = pd.read_csv('one_hot.csv')
df.head(10)

    color
0     red
1   green
2  orange
3    blue
4     red
5     red
6  orange
7   green
8  orange
9   green

# Perform one-hot encoding on the 'color' column

In [24]:
one_hot_encoded_data = pd.get_dummies(df, columns=['color'])
one_hot_encoded_data

   color_blue  color_green  color_orange  color_red
0       False        False         False       True
1       False         True         False      False
2       False        False          True      False
3        True        False         False      False
4       False        False         False       True
5       False        False         False       True
6       False        False          True      False
7       False         True         False      False
8       False        False          True      False
9       False         True         False      False

In [30]:
print(one_hot_encoded_data.head(10))

   color_blue  color_green  color_orange  color_red
0       False        False         False       True
1       False         True         False      False
2       False        False          True      False
3        True        False         False      False
4       False        False         False       True
5       False        False         False       True
6       False        False          True      False
7       False         True         False      False
8       False        False          True      False
9       False         True         False      False